<!doctype html>
{#
 edit.html - jinja template for the editor
 
 Copyright 2011 Ashley Hewson
 
 This file is part of Compiler Zoo.
 
 Compiler Zoo is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Compiler Zoo is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Compiler Zoo.  If not, see <http:www.gnu.org/licenses/>.
#}
<html>
    <head>
        <title>compiler zoo</title>
        <link rel="stylesheet" type="text/css" href="/static/css/layout-default.css" />
        <script src="/static/js/ace/ace.js" type="text/javascript"></script>
        <script src="/static/js/ace/mode-c_cpp.js" type="text/javascript"></script>
        <script src="/static/js/ace/mode-csharp.js" type="text/javascript"></script>
        <script src="/static/js/ace/mode-python.js" type="text/javascript"></script>
        <script src="/static/js/ace/theme-cobalt.js" type="text/javascript"></script>
        <script src="/static/js/jquery.js" type="text/javascript"></script>
        <script src="/static/js/jquery-ui.js" type="text/javascript"></script>
        <script src="/static/js/jquery.layout.js" type="text/javascript"></script>
        <script type="text/javascript">

            var editor = null
            var editorFresh = true
            var currentID = {{ currentID|tojson|safe }}


            var languages = {
                c: {
                    displayName: 'C',
                    editorMode: require('ace/mode/c_cpp').Mode,
                    drivers: ['tcc', 'clang', 'gcc']
                },
                cpp: {
                    displayName: 'C++',
                    editorMode: require('ace/mode/c_cpp').Mode,
                    drivers: ['clang-cpp', 'gpp']
                },
                //clojure
                //coffee
                csharp: {
                    displayName: 'C#',
                    editorMode: require('ace/mode/csharp').Mode,
                    drivers: ['mcs']
                },
                //java
                //javascript
                //ocaml
                //perl
                //php
                python: {
                    displayName: 'Python',
                    editorMode: require('ace/mode/python').Mode,
                    drivers: ['pypy', 'cpython']
                }
                //ruby
            }

            // others to add:
            // erlang
            // haskell
            // lua
            // scheme
            // d
            // f#
            // go
            // groovy
            // haxe
            // io
            // scala
            // vala

           
            var defaultLanguage = {{ defaultLanguage|tojson|safe }}
            var defaultDriver = {{ defaultDriver|tojson|safe }}


            function setupSelects() {
                var lsel = $('select#language')
                var dsel = $('select#driver')

                for (var shortname in languages) {
                    var language = languages[shortname]
                    lsel.append(
                        $('<option/>')
                            .attr('value', shortname)
                            .text(language.displayName)
                        )
                }
                

                lsel.change(function() {
                    var shortname = lsel.val()
                    var language = languages[shortname]
                    dsel.empty()
    
                    for (var i in language.drivers) {
                        dsel.append(
                            $('<option/>').text(language.drivers[i])
                        )
                    }

                    editor.getSession().setMode(new language.editorMode())
                    setEditorFresh(false)
                })

                dsel.change(function() {
                    setEditorFresh(false)
                })

                lsel.val(defaultLanguage)
                lsel.change()
                dsel.val(defaultDriver)
            }

            function setResult(result) {
                $('#result').text(result).show()
            }

            function setEditorFresh(fresh) {
                editorFresh = fresh
                if (editorFresh) {
                    $('#savewarning').hide()
                } else {
                    $('#savewarning').show()
                }
            }

            function setCurrentID(id) {
                currentID = id
                loadRevisionHistory()
            }

            function wrappedAjax(message, args) {
                console.log(message, 'start')
                var ajax = $.ajax(args)
                    .success(function () {
                        console.log(message, 'success')
                    })
                    .error(function () {
                        console.log(message, 'failure')
                    })
                return ajax
            }

            function save() {
                if (editorFresh) {
                    return
                }

                var language = $('select#language').val()
                var driver = $('select#driver').val()
                var source = editor.getSession().getDocument().getValue()

                return wrappedAjax(
                    'saving',
                    {
                        url: '/save',
                        data: {
                            predecessor: currentID,
                            language: language,
                            driver: driver,
                            source: source
                        },
                        timeout: 10000,
                        success: function (data, status) {
                            console.log('save', data)
                            setCurrentID(data['_id'])
                            setEditorFresh(true)
                        },
                        dataType: 'json',
                        type: 'post'
                    }
                )
            }

            function saveAndRun() {
                if (editorFresh) {
                    return run()
                } else {
                    return save().pipe(
                        function (saveData) {
                            // don't actually need to pass any data
                            // through to run()
                            return run()
                        }
                    )
                }
            }

            function run() {
                console.log('compile', currentID)
                if (currentID == '') {
                    return null
                }
                
                $('#result').hide()
                $('#throbber').show()
                return wrappedAjax(
                    'compiling',
                    {
                        url: '/compile',
                        data: {
                            id: currentID
                        },
                        success: function (data, status) {
                            console.log("callback", data)
                            setResult(data.result)
                            $('#throbber').hide()
                        },
                        dataType: 'json',
                        type: 'post'
                    }
                )

            }

            var outerLayout, innerLayout

            function resizeEditor() {
                $('#editor').width($('#layout-center-center').innerWidth())
                $('#editor').height($('#layout-center-center').innerHeight())
                editor.resize()
            }

            function setupLayout() {
                outerLayout = $('body').layout({
                    name: 'outer',
                    west__paneSelector: '#layout-west',
                    west__closable: true,
                    west__resizable: false,
                    west__size: 200,
                    center__paneSelector: '#layout-center',
                    center__onresize: 'innerLayout.resizeAll',
                    //applyDefaultStyles: true
                })
                innerLayout = $('#layout-center').layout({
                    name: 'inner',
                    center__paneSelector: '#layout-center-center',
                    center__size: '50%',
                    center__onresize: 'resizeEditor',
                    south__paneSelector: '#layout-center-south',
                    south__size: '50%',
                    south__maxSize: '75%',
                    south__resizable: true,
                    //applyDefaultStyles: true
                })
                resizeEditor()
            }
                
            function setupEditor() {
                editor = ace.edit('editor')
                editor.setTheme('ace/theme/cobalt')
                var canon = require('pilot/canon')

                canon.addCommand({
                    name: 'run',
                    bindKey: {
                        win: 'Ctrl-G|F5|Ctrl-Enter',
                        mac: 'Command-G',
                        sender: 'editor'
                    },
                    exec: function(env, args, request) {
                        saveAndRun()
                    }
                })
                editor.getSession().on(
                    'change',
                    function() {
                        setEditorFresh(false)
                    }
                )
            }

            function loadRevisionHistory() {
                if (currentID != '') {
                    $('#revisions').load('/history/' + currentID)
                }
            }



            $(function() {

                setupEditor()
                setupLayout()
                setupSelects()
                setEditorFresh(true)

                $('button#run').click(
                    function() {
                        saveAndRun()
                    }
                )

                $('#mono').change(
                    function() {
                        if ($(this).is(':checked')) {
                            $('#result').switchClass('result-sans', 'result-mono')
                        } else {
                            $('#result').switchClass('result-mono', 'result-sans')
                        }
                    }
                )

                loadRevisionHistory()

            })
        </script>
        <style type="text/css">
            body {
                font-family: "Droid Sans", sans-serif;
            }
            #layout-west {
                padding: 5px;
            }
            #layout-center {
                padding: 0;
            }
            #layout-center-center {
                padding: 0;
            }
            #editor {
                width: 100%;
                height: 100%;
                /*font-size: 120%;*/
            }

            #result {
                font-size: 120%;
                overflow: auto;
                white-space: pre;
            }

            .result-mono {
                font-family: "Droid Sans Mono", monospace;
            }

            .result-sans {
                font-family: "Droid Sans", sans-serif;
            }

            #throbber {
                border: 1px solid black;
                width: 200px;
                height: 60px;
                margin-left: -100px;
                margin-top: -30px;
                position: absolute;
                top: 50%;
                left: 50%;
                text-align: center;
                line-height: 60px;
            }
            .hidden {
                display: none;
            }
            ul {
                margin: 3px;
            }
            .highlight {
                color: orange;
            }

            .fieldGroup label {
                width: 80px;
                display: inline-block;
                margin: 0;
            }
            
            .fieldGroup select {
                width: 110px;
                margin: 0;
            }

            .fieldSet {
                width: 190px;
                padding: 0;
                margin: 0;
            }
            pre {
                margin: 0;
            }
            .monoresult {
                font-family: monospace;
            }

        </style>
    </head>
    <body>
        <div id="layout-west">
            <div class="fieldSet">
                <div class="fieldGroup">
                    <label for="language">language</label><select id="language">....</select>
                </div>
                <div class="fieldGroup">
                    <label for="driver">driver</label><select id="driver">....</select>
                </div>

                <button id="run">run</button>
            </div>
                
            <div id="languageOptions"></div>
            keybindings
            <dl>
                <dt>C-G</dt>
                <dt>C-R</dt>
                <dt>C-enter</dt>
                <dt>D-G</dt>
                <dd>run</dd>
            </dl>

            revision history:
            <div id="revisions"></div>
            descendants: see
            <a href="/treeoflife">tree of life</a>
            <div id="savewarning">document needs saving~</div>
            <div class="fieldset">
                <div class="fieldgroup">
                    <input type="checkbox" id="mono">
                    <label for="mono">use fixed-width font for result</label>
                </div>
            </div>
        </div>

        <div id="layout-center">
            <div id="layout-center-center">
                <div id="editor">{{ source }}</div>
            </div>
            <div id="layout-center-south">
                <div id="throbber" class="hidden">
                    <img src="/static/throbber.gif" />
                    Hold your horses
                </div>
                <div id="result" class="result-sans">result</div>
            </div>
        </div>
    </body>
</html>
